body {
    background: #000;
}
.active {
    height: 100vh;
    background-image: url(./img/yhu57KmAJ53O84FASVm1jA.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.second1 {
    height: 100vh;
    background-image: url(./img/63614010.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.second1:nth-child(3) {
    height: 100vh;
    background-image: url(./img/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.second3 {
    height: 100vh;
    background-image: url(./img/03);
    background-size: cover;
    background-repeat: no-repeat;
}
.block2 {
    background-image: url(./img/vDPZYIUtziAkRcSoA4o3So5r.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    /* box-shadow: unset 0 0 0 0 solid black; */
    color: black;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    /* align-self: flex-start; */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 450px;
    background-color: #fff;
    /* margin-bottom: 70px; */
    position: relative;
}
.block3 {
    background-image: url(./img/stalker_wp_01_1600.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 1000px 650px;
    /* background-size: cover; */
    border-radius: 30px;
    /* box-shadow: unset 0 0 0 0 solid black; */
    color: black;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    /* align-self: flex-start; */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 450px;
    background-color: #fff;
    /* margin-bottom: 70px; */
    position: relative;
}
.texts1 {
    /* margin-top: 340px; */
    margin-right: 470px;
    margin-top: 150px;
    width: 500px;
}
.texts2 {
    width: 500px;
    margin-left: 430px;
    margin-top: 150px;
}
.oleg__text1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    -webkit-text-stroke: 0.7px black;
}
.oleg__text2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.oleg__text3 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.block1 {
    background-image: url(./img//marvels-spider-man-2-3840x2160-6500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    /* box-shadow: unset 0 0 0 0 solid black; */
    color: black;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    /* align-self: flex-start; */
    flex-direction: column;
    align-items: center;
    /* height: 450px; */
    background-color: #fff;
    margin-bottom: 70px;
    /* position: relative; */
}
.img {
    width: 500px;
}
/* .img__png {
    position: absolute;
    width: 500px;
    right: -150px;
    top: 0;
} */
.btn {
    border: 2px solid orange;
    padding: 10px 60px;
    background: rgb(135, 41, 41);
    color: white;
    font-family: 'Caveat', cursive;
    /* -webkit-text-stroke: 1px black; */
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.btn:hover {
    background: blue;
    border: 2px solid rgb(18, 18, 48);
    color: white;
}
.btn2 {
    width: 300px;
    height: 45px;
    border: 2px solid goldenrod;
    font-family: 'Caveat', cursive;
    /* -webkit-text-stroke: 1px black; */
    background: rgb(28, 29, 41);
    font-size: 25px;
    color: white;
    border-radius: 5px;
    transition: 0.7s;
    margin-bottom: 10px;
}
.btn3 {
    width: 300px;
    height: 45px;
    border: 2px solid green;
    font-family: 'Caveat', cursive;
    /* -webkit-text-stroke: 1px black; */
    background: rgb(26, 44, 26);
    font-size: 25px;
    color: white;
    border-radius: 5px;
    transition: 0.7s;
    margin-bottom: 10px;
}
.btn3:hover {
    background: rgb(112, 112, 57);
}
.btn2:hover {
    background: rgb(23, 36, 23);
}
.texts {
    margin-top: 270px;
}
.carousel-control-prev-icon {
    background-image: url(./img/pngwing.com\ \(2\).png);
    /* transform: scaleX(-1) rotate(25deg); */
    width: 158px;
    height: 150px;
}
.carousel-control-next-icon {
    background-image: url(./img/pngwing.com\ \(2\).png);
    transform: rotate(-180deg);
    width: 200px;
    height: 150px;
    margin-left: 42px;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    padding: 0px;
    margin-right: 15px;
    margin-left: 3px;
    background-image: url(./img/5a5f68d117a6a8656b13baa4b09a0220.jpg);
    background-position: center;
    background-size: cover;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: rgb(18, 32, 111); */
    background-clip: padding-box;
    border-width: 10px 0px;
    border-right-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: 0.6s;
}
.carousel-indicators [data-bs-target]:nth-child(2) {
    width: 50px;
    height: 50px;
    background-image: url(./img/Skyrim_Anniversary_box_art.jpeg);
    opacity: 1;
}
.carousel-indicators [data-bs-target]:nth-child(3) {
    width: 50px;
    height: 50px;
    background-image: url(./img/Без\ названия.jfif);
    opacity: 1;
}
.carousel-indicators [data-bs-target]:nth-child(4) {
    width: 50px;
    height: 50px;
    background-image: url(./img/pngwing.com\ \(10\).png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 1;
    margin-left: 10px;
}
.carousel-indicators .active {
    transform: scale(1.4);
}
.img__png3 {
    width: 200px;
    height: 400px;
    left: 0;
    bottom: -10px;
    position: absolute;
}
.img__png03 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 430px;
    z-index: ;
}
.img__png2 {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: -50px;
}
.img__png02 {
    position: absolute;
    width: 250px;
    top: 0;
    left: 150px;
}
.img__png002 {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 450px;
}
.block4 {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: rgb(115, 40, 40);
    outline: 0;
    box-shadow: 0 0 10px rgb(57, 20, 20);
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(115, 40, 40);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-item:nth-child(2) .accordion-button:not(.collapsed){
    background: rgb(28, 42, 28);
}
.accordion-item:nth-child(3) .accordion-button:not(.collapsed) {
    background: rgba(102, 102, 35, 0.937);
}
.accordion {
    --bs-accordion-border-color: none;
}
.accordion-item:nth-child(1) .accordion-button:not(.collapsed)::after {
    background-image: url(./img/pngwing.com\ \(11\).png);
}
.accordion-item:nth-child(1) .accordion-button.collapsed::after {
    background-image: url(./img/pngwing.com\ \(11\).png);
}
.accordion-item:nth-child(2) .accordion-button:not(.collapsed)::after {
    background-image: url(./img/pngwing.com\ \(12\).png);
}
.accordion-item:nth-child(2) .accordion-button.collapsed::after {
    background-image: url(./img/pngwing.com\ \(12\).png);
}
.accordion-item:nth-child(3) .accordion-button:not(.collapsed)::after {
    background-image: url(./img/pngwing.com\ \(13\).png);
}
.accordion-item:nth-child(3) .accordion-button.collapsed::after {
    background-image: url(./img/pngwing.com\ \(13\).png);
}
.accordion-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/99b1f94e983b079412fd1c56fff58e75.jpeg);
    background-size: cover;
}
.second4.carousel-item.active {
    background-image: url(./img/37dc138113311426.jpg);
    background-size: cover;
}
.block5 {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    align-items: center;
    margin: 30px auto;
    align-self: center;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.card:nth-child(1) .card-body {
    background-image: url(./img/marvels-spider-man-2-3840x2160-14027.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
}
.card:nth-child(2) .card-body {
    background-image: url(./img/wp2806301.png);
    color: white;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
}
.card:nth-child(3) .card-body {
    background-image: url(./img/WBelPEgDrXnS3vxWMxPyIw.jpeg);
    color: white;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
}
.card:nth-child(1) .card-title {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/spider-man-art-chelovek-pauk.jpg);
    -webkit-text-stroke: #fff 0.3px;
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
}
.card:nth-child(2) .card-title {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/H2x1_NSwitch_TheElderScrollsVSkyrim.jpg);
    -webkit-text-stroke: #fff 0.3px;
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
}
.card:nth-child(3) .card-title {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/03.jpg);
    -webkit-text-stroke: #fff 0.3px;
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
}
.card .btn {
    padding: 5px 15px;
}
.card:nth-child(2) .btn {
    background: rgb(28, 29, 41);
    border: 2px solid goldenrod;
}
.card:nth-child(2) .btn:hover {
    background: rgb(23, 36, 23);
}
.card:nth-child(3) .btn {
    background: rgb(26, 44, 26);
    border: 2px solid green;
}
.card:nth-child(3) .btn:hover {
    background: rgb(112, 112, 57);
}
.modal-body {
    color: black;
}
/* .card:nth-child(1) */ .card-text {
    font-weight: 800;
    color: black;
    -webkit-text-stroke: #fff 0.3px;
}
.carousel-item:nth-child(5) {
    background-image: url(./img/black-wallpapers-4k-dark-amoled-backgrounds.jpg);
}
.carousel-indicators [data-bs-target]:nth-child(5) {
    background-image: url(./img/pngwing.com\ \(14\).png);
    background-color: transparent;
    margin-left: 20px;
}
.card:nth-child(1) .modal-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-image: url(./img/marvels-spider-man-2-4k-wallpaper-3840x2160-16887.jpeg);
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.modal__img1 {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/1663082336_46-phonoteka-org-p-tekstura-cheloveka-pauka-krasivo-60.jpg);
    -webkit-text-stroke: #fff 0.5px;
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
}
.modal__img2 {
    width: 220px;
    border-radius: 10px;
}
.card:nth-child(1) .modal-header {
    background-image: url(./img/marvels-spider-man-2-4k-wallpaper-3840x2160-16887.jpeg);
    background-size: cover;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 10px;
}
.card:nth-child(2) .modal-body {
    background-image: url(./img/vDPZYIUtziAkRcSoA4o3So5r.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.modal__img3 {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/H2x1_NSwitch_TheElderScrollsVSkyrim.jpg);
    -webkit-text-stroke: #fff 0.5px;
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
}
.card:nth-child(2) .modal-header {
    background-image: url(./img/vDPZYIUtziAkRcSoA4o3So5r.webp);
    background-size: cover;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 10px;
}
.card:nth-child(3) .modal-header {
    background-image: url(./img/stalker_wp_01_1600.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 10px;
}
.card:nth-child(3) .modal-body {
    background-image: url(./img/stalker_wp_01_1600.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.modal__img4 {
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: url(./img/178134.jpg);
    -webkit-text-stroke: #fff 0.5px;
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
}
/* .card:hover {
    transform: scale(1.1);
}
.card {
    transition: 0.7s;
} */
.audio-first {
    width: 300px;
    background-color: transparent;
    margin: 0 auto;
}
audio {
    filter: drop-shadow(0 0 15px rgb(0, 0, 0))
}